---
Checks: >
  clang-diagnostic-*,
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  modernize-*,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-naming.*
WarningsAsErrors: "*"
ExtraArgs: ['-std=c23']
SystemHeaders: false
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
CheckOptions:
  - key: modernize-use-using.IgnoreMacros
    value: "true"
...
