---
Checks: >
  clang-diagnostic-*,
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  modernize-*,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-naming.*
WarningsAsErrors: "*"
ExtraArgs: ["-std=c23"]
SystemHeaders: false
HeaderFilterRegex: "^(include/|src/|tests/)"
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
CheckOptions:
  - key: modernize-use-using.IgnoreMacros
    value: "true"
  - key: readability-identifier-length.IgnoredVariableNames
    value: "fd|id|i|j|k"
...
